* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.title {
  margin-bottom: 24px;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card {
  background-color: #e3e3e3;
  border: 2px solid #3b3b3b;
  border-radius: 15px;
  box-shadow: -2px 3px 0 #808080, -4px 5px 0 #221b1c;
  width: 100%;
  max-width: 200px;
  padding: 10px;
}

.name {
  text-transform: capitalize;
}

.button {
  margin-top: 20px;
  padding: 2%;
  border: 2px solid #3b3b3b;
  box-shadow: -2px 3px 0 #808080, -4px 5px 0 #221b1c;
  border-radius: 5px;
  background-color: #e3e3e3;
  text-decoration: none;
  cursor: pointer;
  color: #221b1c;
  font-weight: 700;
  font-size: 15px;
}

.button:active,
.button-all:active {
  box-shadow: inset -4px 4px 0 #221b1c;
  font-size: 0.9rem;
}

.button-all {
  margin-bottom: 20px;
  padding: 2%;
  border: 2px solid #3b3b3b;
  box-shadow: -2px 3px 0 #808080, -4px 5px 0 #221b1c;
  border-radius: 5px;
  background-color: #e3e3e3;
  text-decoration: none;
  cursor: pointer;
  color: #221b1c;
  font-weight: 700;
  font-size: 15px;
}
